* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

header {
	height: 100vh;
}

footer {
	height: 100vh;
}

#logoWrapper {
	position: fixed;
	z-index: 1;
	top: 2.5%;
	left: 2.5%;
	width: 7%;
}

#logo {
	max-width: 50%;
}

.hidden {
	display: none;
}

#navigation {
	max-height: 7vh;
}

#info-sections {
    height: 100vh;
	overflow: hidden;
}

.panel {
	height: 100vh;
  	width: 100%;
  	position: absolute;
	z-index: -1;
  	text-align:center;
	background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

#headshotWrapper {
	position: absolute;
	justify-content: center;
	align-items: baseline;
	bottom: 0%;
	width: 90%;
	left: 5%;
}

#headshot {
	max-width: 50%;
}

#navbar-spacer {
	height: 6.5vh;
}

header h1{
    font-size: 60px;
}

b {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position:relative;
	font-size:30px;
}