:root {
  /* colors: */
  --first-gradient-color: #9795f0; /*purple*/
  --second-gradient-color: #fbc8d4; /*pink*/
  --gradient: linear-gradient(
    to top,
    var(--first-gradient-color) 0%,
    var(--second-gradient-color) 100%
  );
  --reverse-gradient: linear-gradient(
    to top,
    var(--second-gradient-color) 0%,
    var(--first-gradient-color) 100%
  );
  --dark-gray: rgb(153, 153, 153);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  bottom: 0;
}

#header-wrapper,
#resume,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  font-size: 60px;
}

#logo-wrapper {
  position: fixed;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  width: 10rem;
}

#logo {
  max-width: 50%;
}

#navigation {
  max-height: 7vh;
}

#info-sections {
  overflow: hidden;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  text-align: center;
  background-image: var(--gradient);
  border-width: 0;
  border-color: transparent;
}

#socials-wrapper {
  display: flex;
  flex-direction: row;
  height: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.social-icon {
  max-width: 12rem;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 440px) {
  #socials-wrapper {
    flex-direction: column;
    margin-top: 4.5rem;
  }

  .social-icon {
    max-width: 7rem;
  }
}

@media (max-width: 440px) {
  #socials-wrapper {
    flex-direction: column;
    margin-top: 4.5rem;
  }

  .social-icon {
    max-width: 7rem;
  }
}

@media (max-width: 660px) {
  .social-icon {
    margin-left: 0;
    margin-right: 0;
    max-width: 9rem;
  }
}
@media (max-height: 700px) {
  #socials-wrapper {
    margin-top: 1rem;
  }
  .social-icon {
    max-width: 9rem;
  }
}
@media (max-width: 440px) and (max-height: 720px) {
  #socials-wrapper {
    display: block;
    margin-top: 1rem;
  }

  .social-icon-link {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
  }
}

#headshot-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  text-align: center;
  z-index: -1;
}

#headshot {
  max-height: 80%;
  max-width: 100%;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0%;
}

#navbar-spacer {
  height: 6.5vh;
}

#resume-button-wrapper {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  pointer-events: none; /*do not allow user to save images*/
}

a {
  color: var(--first-gradient-color);
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: var(--second-gradient-color);
}

/***************************************************************************************************/

@media (min-width: 1100px) {
  #timeline .timeline-card:nth-child(even) .timeline-card-head::after,
  #timeline .timeline-card:nth-child(odd) .timeline-card-head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

#timeline-icon {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  width: 40px;
  height: 40px;
  top: 40%;
  margin-left: calc(50% - 18.5px);
}

@media (max-width: 1099px) {
  #timeline-icon {
    display: none;
  }
}

/*
 * this is some goofy figuring we have to do since we are using flex box.
 * in the future, I would like to transition to a more extensible grid layout...
 */
.timeline-card:nth-child(1) {
  order: 1;
}

.timeline-card:nth-child(2) {
  order: 4;
}

.timeline-card:nth-child(3) {
  order: 2;
}

.timeline-card:nth-child(4) {
  order: 5;
}

.timeline-card:nth-child(5) {
  order: 3;
}

#timeline {
  padding: 100px 0;
  background-image: var(--reverse-gradient);
}

#timeline-divider {
  border-radius: 2px;
  border-right: 4px solid #cdd4d8;
  position: relative;
}

#timeline .timeline-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1100px) {
  #timeline .timeline-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto;
  }
}
#timeline .timeline-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 3px solid var(--dark-gray);
}
/*this is the line in the center of the timeline */
@media (min-width: 1100px) {
  #timeline .timeline-card-wrapper::after {
    border-left: 3px solid var(--dark-gray);
  }
}
#timeline .timeline-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 90%;
  max-height: 90%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .timeline-card {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 1100px) {
  #timeline .timeline-card {
    max-width: 450px;
    /* height: 400px; */
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .timeline-card:nth-child(odd) {
    margin-right: 45px;
  }
  #timeline .timeline-card:nth-child(odd) .timeline-card-head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .timeline-card:nth-child(odd) .timeline-card-head::before {
    left: 491.5px;
  }
  #timeline .timeline-card:nth-child(even) {
    margin-left: 45px;
  }
  #timeline .timeline-card:nth-child(even) .timeline-card-head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .timeline-card:nth-child(even) .timeline-card-head::before {
    right: 489.5px;
  }
  #timeline .timeline-card:nth-child(2) {
    margin-top: 180px;
  }
}
#timeline .timeline-card .timeline-card-head {
  position: relative;
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 80% 20%;
  align-items: center;
  color: white;
  font-weight: 400;
  min-height: 4rem;
  margin-top: 2rem;
}

@media (max-width: 1099px) {
  #timeline .timeline-card .timeline-card-head {
    min-height: 5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.resume-logo {
  max-width: 100%;
  max-height: 100%;
  padding-left: 2rem;
}

.timeline-year {
  grid-column: 1 / 3;
  text-align: center;
  top: 4rem;
}

#timeline .timeline-card .timeline-card-head h2 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}
@media (min-width: 480px) {
  #timeline .timeline-card .timeline-card-head h2 {
    font-size: 1.4rem;
  }
}
#timeline .timeline-card .timeline-card-head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .timeline-card .timeline-card-head h2 span {
    font-size: 0.8rem;
  }
}
.timeline-card-body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;

  display: grid;
  grid-template-rows: 15% auto 15%;
  grid-template-columns: 1fr 1fr 1fr;
}

.timeline-card-title {
  font-size: 17px;
  grid-column: 1 / 4;
}

.timeline-card-list {
  grid-column: 1 / 4;
  grid-row: 2;
}

.timeline-card-list ul {
  padding-left: 1rem;
}

.timeline-large {
  font-weight: bold;
  font-size: 18px;
}
.timeline-card-links {
  grid-row: 3;
  text-align: center;
}

.timeline-card-links .first {
  grid-column: 1;
}

.timeline-card-links .second {
  grid-column: 2;
}

.timeline-card-links .third {
  grid-column: 3;
}

.timeline-temporary {
  margin-top: 2rem;
  grid-column: 1 / 4;
}

.horizontal-list {
  margin-top: 0.5rem;
  list-style: square;
  list-style-type: square;
}

.horizontal-list li {
  display: inline;
  zoom: 1;
}

@media (min-width: 1100px) {
  #timeline .timeline-card .timeline-card-body {
    height: 17rem;
  }
}

#timeline .timeline-card {
  background-color: black;
}
#timeline .timeline-card .timeline-card-head::after {
  border-color: black;
}
